.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
}
.login h1 {
  font-size: 40px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}
.login .form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  width: 400px;
  gap: 10px;
}
.login .form .label {
  font-size: 20px;
  font-weight: bold;
}
.login .form .input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid gray;
}
.login .form .button {
  padding: 10px;
  border: none;
  background-color: teal;
  cursor: pointer;
  color: white;
}
.login .form span {
  font-size: 17px;
  text-align: center;
}
