.loginPage {
  margin: 80px auto 0;
  display: flex;
  justify-content: center;
}
.loginPage_right {
  width: 500px;
  // height: 255px;
  padding: 15px;
  .formControl {
    display: flex;
    margin-bottom: 20px;
    label {
      width: 150px;
      position: relative;
      top: 0;
      left: 0;
      line-height: 30px;
    }
    input {
      width: 255px;
    }
  }
}

.loginPage_left {
  width: 500px;
  // height: 255px;
  padding: 15px;
  .formControl {
    display: flex;
    margin-bottom: 20px;
    label {
      width: 150px;
      position: relative;
      top: 0;
      left: 0;
      line-height: 30px;
    }
    input {
      width: 255px;
    }
  }
}
.form_left,
.form_right {
  background-color: #333333;
  opacity: 0.8;
  color: yellow;
  padding: 20px 30px;
  border-radius: 20px;
}

.btn_log {
  background: white;
  color: red;
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
}
.btn_log:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
