.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
}
.login h1 {
  font-size: 40px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  text-align: center;
}
.login .form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  width: 500px;
  gap: 10px;
  border-radius: 20px;
}
.login .form .label {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.login .form .input {
  padding: 10px;
  border: none;
  background-color: #e5e5e5;
  border-radius: 10px;
}

.login .form .button {
  padding: 10px;
  border: none;
  background-color: teal;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: large;
}
.login .form span {
  font-size: 17px;
  text-align: center;
}
