.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.main .card {
  margin: 10px 10px 30px 10px;
  border-radius: 20px;
}
.main-link {
  text-decoration: none;
}
.main .card .text {
  text-decoration: line-through;
}

.main .card img {
  height: 150px;
  width: 200px;
  object-fit: contain;
}
