.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.main .card {
  margin: 10px 30px 30px 10px;
  border-radius: 30px;
  border: 1px solid black;
}

.main .card:hover {
  cursor: pointer;
  scale: 1.1;
}

.main-link {
  text-decoration: none;
}
.main .card .text {
  text-decoration: line-through;
}

.main .card .img {
  object-fit: contain !important;
}

.title {
  color: red;
  font-size: 20px;
}
