.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.main .card {
  margin: 10px 10px 30px 10px;
  border-radius: 20px;
  border: 1px solid black;
}
.main-link {
  text-decoration: none;
}
.main .card .text {
  text-decoration: line-through;
}

.main .card .img {
  height: 200px !important;
  width: 180px !important;
  object-fit: contain !important;
}

.title {
  color: red;
  font-size: 20px;
}
