.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 30px;
}
.page-item {
  margin: 0 3px;
  border: 1px solid black;
  border-radius: 50%;
}
.page-item.red {
  background-color: yellow;
  color: black;
}
.page-item:hover {
  cursor: pointer;
  background-color: yellow;
}
.page-item:active {
  background-color: white;
}
.page-link {
  font-size: 18px;
  padding: 5px !important;
  text-decoration: none;
  color: black;
}
.page-link:hover {
  cursor: pointer;
}
.category-delete {
  cursor: pointer;
  padding: 0 5px;
}
.category-delete:hover {
  scale: 1.5;
}
