.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 30px;
}
.page-item {
  padding: 1px 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 30%;
}
.page-item.red {
  background-color: gray;
  color: black;
}
.page-item:hover {
  cursor: pointer;
  background-color: #afafaf;
  color: yellow;
}
.page-item:active {
  background-color: blue;
}
.page-link {
  text-decoration: none;
  color: red;
}
.page-link:hover {
  cursor: pointer;
}
