.infoUser{
    background-color: wheat;
    height: 657px;
    padding: 20px;
    width: 100%;
    overflow: hidden;
}
:where(.css-dev-only-do-not-override-1me4733).ant-form-item .ant-form-item-label >label {
    font-weight: bolder;
}
.button{
    display: flex;
    margin-left: 150px;
}