.admin_right {
  padding: 50px 100px;
  width: 85%;
  color: black;
  table {
    img {
      width: 100px;
      height: 200px;
      object-fit: cover;
    }
  }
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 18px;
    text-align: left;
    padding: 10px 20px;
  }
  table {
    width: 100%;
    margin-top: 50px;
  }
  .btn_user {
    margin: 2px;
    padding: 5px 10px;
    background-color: black;
    color: white;
  }
  .btn_user:hover {
    background-color: gray;
    color: yellow;
    cursor: pointer;
  }
}
