.searchPane {
  width: 100%;
  min-height: 92vh;
  padding-top: 80px;
  background-color: white;
  transition: all 0.3s linear;
}

.searchPane .searchContent {
  padding: 40px 60px;
  display: grid;
  gap: 8px;
  &:hover .movieItem {
    opacity: 0.7;
  }
}

.notFound {
  padding: 5rem 8rem;
  color: black !important;
}

.searchPane .searchContent .movieItem {
  border: 1px solid black;
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
  transform: scale(1);
  transition: all 0.3s linear;
  &:hover {
    transform: scale(1.2);
    z-index: 10;
    opacity: 1;
  }
}
.img_search {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.name_search {
  text-align: center;
  padding: 4px;
  background-color: white;
  color: black;
  font-weight: bold;
}
.price_search {
  text-align: center;
  padding: 4px;
  background-color: white;
  color: black;
  font-weight: bold;
}
